/*
0 - 600px: Phone (PHONE)
600 - 900px: Tablet portrait (TAB-PORT)
900 - 1200px: Tablet landscape (TAB-LAND)
(1200 - 1800): normal styles 
1800px +: Big desktop (BIG-DESKTOP)

ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  color: #000; }

ul {
  list-style: none;
  display: flex;
  justify-content: space-between; }

.link:link, .link:visited {
  display: inline-block;
  text-decoration: none; }

.heading-primary {
  padding: 14.4rem 0 7rem 0;
  text-align: center;
  color: #fff; }

.heading-tertiary--main {
  font-size: 2.4rem;
  margin-top: 1.5rem; }

.heading-tertiary--sub {
  font-size: 1.8rem;
  color: #000;
  opacity: 0.5; }

.oferta-box:not(:last-child) {
  border-right: 1px solid #000; }

.oferta-box__text {
  position: relative;
  font-size: 1.4rem;
  color: #000;
  opacity: 0.5;
  padding: 2.3rem 0 6.6rem 0; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn-text {
  color: #be1d31;
  font-weight: 700;
  text-decoration: none;
  position: absolute;
  bottom: 2.7rem; }

.row {
  max-width: 100rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 75em) {
    .row {
      padding: 0 3rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  background-color: #fff;
  position: relative;
  padding: 3.3rem 0 1rem 0; }
  .header__logo-box {
    position: absolute;
    top: 3.5rem;
    left: 3.5rem; }
  .header__logo {
    width: 8.4rem;
    height: 8.4rem;
    border-radius: 50%;
    background-color: #be1d31; }
  .header__textbox {
    max-width: 80%;
    margin: 0 auto; }

.navigation {
  padding-top: 5rem; }
  .navigation__link:link, .navigation__link:visited {
    font-weight: 700;
    color: #000; }
  .navigation__link:hover {
    transform: translateY(-3px);
    text-shadow: 0 1rem 2rem #cccccc;
    transition: all .3s ease; }
  .navigation__link:active, .navigation__link:focus {
    -webkit-transform: translateY(10px);
    transform: translateY(-1px); }

.contacts {
  max-width: 45%;
  margin-left: auto; }
  .contacts__link:link, .contacts__link:visited {
    font-size: 1.4rem;
    font-weight: 700;
    color: #000;
    opacity: 30%;
    padding-bottom: 1rem;
    border-bottom: 1.5px solid transparent; }
  .contacts__link:hover {
    color: #be1d31;
    border-bottom: 1.5px solid #be1d31;
    opacity: 100%;
    padding-bottom: 1rem;
    transition: all .3s ease; }

main {
  background-color: #5b0d13;
  z-index: -10;
  position: relative; }
  main:after {
    content: "";
    background: url(../../img/bg-pattern.png);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -8; }

.section-oferta {
  background-color: #fff;
  position: relative; }
  .section-oferta::after {
    content: "";
    display: table;
    clear: both; }

.oferty {
  display: flex;
  justify-content: space-between; }

.oferta-box {
  display: block;
  width: 25%;
  padding: 2rem; }
