/*
0 - 600px: Phone (PHONE)
600 - 900px: Tablet portrait (TAB-PORT)
900 - 1200px: Tablet landscape (TAB-LAND)
(1200 - 1800): normal styles 
1800px +: Big desktop (BIG-DESKTOP)

ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  color: #000; }

.link:link, .link:visited {
  display: inline-block;
  text-decoration: none; }

.heading-primary, .heading-secondary, .heading-tertiary, .subheading {
  font-weight: 700; }

.heading-primary {
  padding: 14.4rem 0 7rem 0;
  text-align: center;
  color: #fff; }
  @media only screen and (max-width: 37.5em) {
    .heading-primary {
      padding: 10rem 0 3rem 0;
      font-size: 3.5rem; } }

.heading-secondary {
  color: #fff;
  font-size: 3.2rem;
  text-align: center;
  padding-bottom: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary--black {
    color: #000; }

.heading-tertiary {
  font-size: 2.4rem;
  margin-bottom: 2.3rem; }
  @media only screen and (max-width: 37.5em) {
    .heading-tertiary {
      font-size: 2rem; } }
  .heading-tertiary--small {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1.6rem; }

.subheading {
  display: block;
  font-size: 1.8rem;
  color: #000;
  opacity: 0.5;
  margin-bottom: 1.5rem; }

.paragraph {
  font-size: 1.4rem;
  line-height: 2.1rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.header {
  background-color: #fff;
  padding: 3.3rem 0 1rem 0;
  display: flex; }
  .header__logo-box {
    width: 10%; }
  .header__logo {
    width: 8.4rem;
    height: 8.4rem;
    border-radius: 50%;
    background-color: #be1d31; }
  .header__textbox {
    width: 90%;
    margin: 0 auto; }

.navigation {
  padding-top: 5rem; }
  .navigation__list {
    display: flex;
    justify-content: space-between;
    list-style: none; }
    @media only screen and (max-width: 37.5em) {
      .navigation__list {
        display: block; } }
  .navigation li {
    position: relative; }
  .navigation__link:link, .navigation__link:visited {
    font-weight: 700;
    color: #000; }
  .navigation__link:hover {
    color: #be1d31;
    transition: all 0.3s ease; }
  @media only screen and (max-width: 37.5em) {
    .navigation__link {
      height: 4rem;
      line-height: 4rem; } }

.submenu,
.sub-submenu {
  display: none;
  position: absolute;
  min-width: 32rem;
  list-style: none; }
  .submenu li,
  .sub-submenu li {
    background-color: #fff;
    position: relative; }
  .submenu__link,
  .sub-submenu__link {
    height: 6rem;
    line-height: 6rem;
    color: #000;
    display: inline-block;
    padding-left: 2.5rem; }
    @media only screen and (max-width: 37.5em) {
      .submenu__link,
      .sub-submenu__link {
        height: 4rem;
        line-height: 4rem; } }

.submenu {
  left: -8rem;
  padding-top: 1.1rem;
  z-index: 1000; }
  @media only screen and (max-width: 37.5em) {
    .submenu {
      position: relative;
      top: 0;
      left: 0;
      padding-top: 0; } }
  .submenu > li:hover .submenu__link {
    color: #be1d31;
    transition: all 0.3s ease; }
  .submenu > li:hover {
    background-color: #ededed;
    transition: all 0.3s ease; }
  .submenu__link {
    font-weight: 700; }

.sub-submenu {
  top: 0;
  left: 100.5%; }
  .sub-submenu > li:hover {
    background-color: #ededed;
    transition: all 0.3s ease; }
    .sub-submenu > li:hover .sub-submenu__link {
      color: #be1d31;
      transition: all 0.3s ease; }
  .sub-submenu__link {
    font-size: 1.6rem; }
  @media only screen and (max-width: 37.5em) {
    .sub-submenu {
      position: relative;
      top: 0;
      left: 0; } }

.submenu > li:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 0.9rem solid transparent;
  border-bottom: 0.9rem solid transparent;
  border-left: 0.9rem solid #be1d31;
  position: absolute;
  opacity: 0;
  top: 50%;
  transform: translateY(-50%);
  left: 90%; }
  @media only screen and (max-width: 37.5em) {
    .submenu > li:after {
      display: none; } }

.submenu > li:hover:after {
  opacity: 1;
  transition: all 0.3s ease; }

body.mouse .navigation__list > li:hover .submenu {
  display: block; }

body.mouse .submenu > li:hover .sub-submenu {
  display: block; }

body.touch .submenu.open {
  display: block; }

body.touch .sub-submenu.open {
  display: block; }

body.touch .arrow {
  display: block; }

.contacts {
  max-width: 45%;
  margin-left: auto; }
  @media only screen and (max-width: 56.25em) {
    .contacts {
      max-width: 50%; } }
  @media only screen and (max-width: 37.5em) {
    .contacts {
      max-width: 75%; } }
  .contacts__list {
    display: flex;
    justify-content: space-between;
    list-style: none; }
  .contacts__link:link, .contacts__link:visited {
    font-size: 1.4rem;
    font-weight: 700;
    color: #000;
    opacity: 30%;
    padding-bottom: 1rem;
    border-bottom: 1.5px solid transparent; }
  .contacts__link:hover {
    color: #be1d31;
    border-bottom: 1.5px solid #be1d31;
    opacity: 100%;
    padding-bottom: 1rem;
    transition: all 0.3s ease; }

.btn-text {
  display: inline-block;
  color: #be1d31;
  font-weight: 700;
  text-decoration: none; }

.btn-big {
  display: inline-block;
  color: #be1d31;
  background-color: #fff;
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: 700;
  text-decoration: none;
  padding: 1.3rem 3.5rem;
  border-radius: 2%; }
  @media only screen and (max-width: 37.5em) {
    .btn-big {
      font-size: 2rem;
      padding: 1rem 3.2rem; } }

.section-oferta {
  background-color: #fff; }
  .section-oferta::after {
    content: "";
    display: table;
    clear: both; }

.oferty {
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 56.25em) {
    .oferty {
      flex-wrap: wrap; } }

.oferta-box {
  width: 25%;
  padding: 2.5rem;
  position: relative; }
  .oferta-box:not(:last-child) {
    border-right: 1px solid #000; }
  @media only screen and (max-width: 56.25em) {
    .oferta-box {
      width: 50%; }
      .oferta-box:nth-child(-n + 2) {
        border-bottom: 1px solid #000; } }
  .oferta-box__text {
    font-size: 1.4rem;
    font-weight: 700;
    color: #000;
    opacity: 0.5;
    padding-bottom: 6rem; }
  .oferta-box__btn {
    position: absolute;
    bottom: 2.7rem; }

.section-opinie {
  background-color: #fff;
  padding: 6.8rem 0;
  border-bottom: 1px solid #7a7a7a; }
  @media only screen and (max-width: 37.5em) {
    .section-opinie {
      padding: 4rem 0; } }
  .section-opinie__paragraph {
    font-style: italic;
    padding-bottom: 2rem; }

.opinia {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  position: relative; }
  .opinia__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 5rem; }
    .opinia__arrow--l {
      left: 0; }
    .opinia__arrow--r {
      right: 0; }

.owl-nav {
  width: 0;
  height: 0; }

.section-features {
  background-color: #fff;
  padding: 5.3rem 0 3rem 0; }
  .section-features__heading {
    padding-bottom: 4.5rem; }
    @media only screen and (max-width: 37.5em) {
      .section-features__heading {
        padding-bottom: 2rem; } }
  .section-features__btn {
    text-align: center;
    padding-top: 3rem; }

.features {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 95%; }
  @media only screen and (max-width: 37.5em) {
    .features {
      flex-wrap: wrap; } }

.feature-box {
  width: 32%;
  text-align: center; }
  @media only screen and (max-width: 37.5em) {
    .feature-box {
      width: 100%;
      text-align: left;
      padding: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .feature-box__heading {
      text-align: center; } }
  .feature-box:before {
    display: block;
    content: "";
    background-color: #c4c4c4;
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 2.2rem; }
    @media only screen and (max-width: 37.5em) {
      .feature-box:before {
        margin-bottom: 1rem; } }

.feature-box:hover:before {
  background-color: #be1d31;
  transition: all 0.3s ease; }

.section-promocja {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #be1d31;
  padding: 3rem; }
  .section-promocja__heading {
    padding-bottom: 0; }
    @media only screen and (max-width: 37.5em) {
      .section-promocja__heading {
        padding-bottom: 2rem; } }
  .section-promocja__paragraph {
    color: #fff;
    font-size: 2.4rem;
    font-weight: 700; }
    @media only screen and (max-width: 56.25em) {
      .section-promocja__paragraph {
        font-size: 1.8rem; } }
    @media only screen and (max-width: 37.5em) {
      .section-promocja__paragraph {
        padding-bottom: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .section-promocja {
      flex-direction: column;
      text-align: center; } }

.section-aktualnosci {
  margin-bottom: 10.1rem;
  background-color: #fff; }
  @media only screen and (max-width: 56.25em) {
    .section-aktualnosci {
      margin-bottom: 7rem; } }
  .section-aktualnosci__heading {
    padding: 5.5rem 0 3.5rem 0; }
  .section-aktualnosci__btn {
    text-align: center;
    padding-bottom: 3rem;
    margin-top: -0.5rem; }

.aktualnosc-box {
  padding: 2.8rem 3.2rem 4rem 2.2rem; }
  @media only screen and (max-width: 37.5em) {
    .aktualnosc-box {
      padding: 3rem; } }

.footer {
  background-color: #be1d31;
  color: #fff;
  position: relative;
  padding: 10rem 0; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 4rem 0; } }
  .footer__textbox {
    width: 40%;
    margin: 0 auto;
    text-align: center; }
    @media only screen and (max-width: 75em) {
      .footer__textbox {
        width: 80%; } }
  .footer__paragraph {
    font-size: 2.4rem;
    line-height: 2.8rem;
    font-weight: 700;
    margin-bottom: 4.5rem; }
    @media only screen and (max-width: 37.5em) {
      .footer__paragraph {
        font-size: 1.8rem;
        margin-bottom: 3rem; } }
  .footer__btn {
    padding: 1.3rem 8.8rem; }

.row {
  max-width: 100rem;
  margin: 0 auto; }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 80rem;
      padding: 1.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .row {
      max-width: 50rem;
      padding: 1.5rem; } }
  @media only screen and (max-width: 75em) {
    .row {
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

main {
  z-index: 70; }

.bg {
  background-color: #5b0d13;
  z-index: 4;
  position: relative; }
  .bg:after {
    content: "";
    background: url(../img/bg-pattern.png);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    height: 40rem; }
