//COLORS
$color-white: #fff;
$color-black: #000;
$color-primary: #be1d31;
$color-grey: #cccccc;
$color-grey-icons: #c4c4c4;
$color-grey-links: #ededed;

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 100rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;