.section-features {
   background-color: $color-white;
   padding: 5.3rem 0 3rem 0;  
   
   &__heading {
      padding-bottom: 4.5rem;

      @include respond (phone) {
         padding-bottom: 2rem;
      }
   }
   
   &__btn {
      text-align: center;
      padding-top: 3rem;
   }
}

.features {
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
   width: 95%;

   @include respond (phone) {
      flex-wrap: wrap;
   }
}

.feature-box {
   width: 32%;
   text-align: center;

   @include respond (phone) {
      width: 100%;
      text-align: left;
      padding: 2rem;
   }

   &__heading {
      @include respond (phone) {
         text-align: center;
      }
   }

   &:before {
      display: block;
      content: "";
      background-color: $color-grey-icons;
      width: 3.8rem;
      height: 3.8rem;
      border-radius: 50%;
      margin: 0 auto;
      margin-bottom: 2.2rem;

      @include respond (phone) {
         margin-bottom: 1rem;
      }
   }
}

.feature-box:hover:before {
   background-color: $color-primary;
   transition: all 0.3s ease;
}
