.header {
   background-color: $color-white;
   padding: 3.3rem 0 1rem 0;
   display: flex;

   &__logo-box {
      width: 10%;
   }

   &__logo {
      width: 8.4rem;
      height: 8.4rem;
      border-radius: 50%;
      background-color: $color-primary;
   }

   &__textbox {
      width: 90%;
      margin: 0 auto;
   }
}


.navigation {
   padding-top: 5rem;

   &__list {
      display: flex;
      justify-content: space-between;
      list-style: none;

      @include respond(phone) {
         display: block;
      }
   }

   & li {
      position: relative;
   }

   &__link {

      &:link,
      &:visited {
         font-weight: 700;
         color: $color-black;
      }

      &:hover {
         color: $color-primary;
         transition: all 0.3s ease;
      }

      @include respond(phone) {
         height: 4rem;
         line-height: 4rem;
      }
   }
}


.submenu,
.sub-submenu {
   display: none;
   position: absolute;
   min-width: 32rem;
   list-style: none;

   li {
      background-color: $color-white;
      position: relative;
   }

   &__link {
      height: 6rem;
      line-height: 6rem;
      color: $color-black;
      display: inline-block;
      padding-left: 2.5rem;

      @include respond(phone) {
         height: 4rem;
         line-height: 4rem;
      }
   }
}

.submenu {
   left: -8rem;
   padding-top: 1.1rem;
   z-index: 1000;

   @include respond(phone) {
      position: relative;
      top: 0;
      left: 0;
      padding-top: 0;
   }

   &>li:hover {
      .submenu__link {
         color: $color-primary;
         transition: all 0.3s ease;
      }
   }

   &>li:hover {
      background-color: $color-grey-links;
      transition: all 0.3s ease;
   }

   &__link {
      font-weight: 700;

      // &:hover .submenu>li {
      //    background-color: $color-grey-links;
      // }
   }
}

.sub-submenu {
   top: 0;
   left: 100.5%;

   &>li:hover {
      background-color: $color-grey-links;
      transition: all 0.3s ease;

      .sub-submenu__link {
         color: $color-primary;
         transition: all 0.3s ease;
      }
   }

   &__link {
      font-size: 1.6rem;
   }

   @include respond(phone) {
      position: relative;
      top: 0;
      left: 0;
   }
}


//ARROWS
.submenu {
   &>li {
      &:after {
         content: "";
         width: 0;
         height: 0;
         border-top: 0.9rem solid transparent;
         border-bottom: 0.9rem solid transparent;
         border-left: 0.9rem solid $color-primary;
         position: absolute;
         opacity: 0;
         top: 50%;
         transform: translateY(-50%);
         left: 90%;

         @include respond(phone) {
            display: none;
         }
      }

      &:hover {
         &:after {
            opacity: 1;
            transition: all 0.3s ease;
         }
      }
   }
}


// DESKTOP

body.mouse .navigation__list>li:hover .submenu {
   display: block;
}

body.mouse .submenu>li:hover .sub-submenu {
   display: block;
}

// MOBILE

body.touch .submenu.open {
   display: block;
}

body.touch .sub-submenu.open {
   display: block;
}

body.touch .arrow {
   display: block;
}


// CONTACTS

.contacts {
   max-width: 45%;
   margin-left: auto;

   @include respond (tab-port) {
      max-width: 50%;
   }

   @include respond (phone) {
      max-width: 75%;
   }

   &__list {
      display: flex;
      justify-content: space-between;
      list-style: none;
   }

   &__link {

      &:link,
      &:visited {
         font-size: 1.4rem;
         font-weight: 700;
         color: $color-black;
         opacity: 30%;
         padding-bottom: 1rem;
         border-bottom: 1.5px solid transparent;
      }

      &:hover {
         color: $color-primary;
         border-bottom: 1.5px solid $color-primary;
         opacity: 100%;
         padding-bottom: 1rem;
         transition: all 0.3s ease;
      }
   }
}