.header {
   background-color: $color-white;
   padding: 3.3rem 0 1rem 0;
   position: relative;
   
   &__logo-box {
      position: absolute;
      top: 3.5rem;
      left: 3.5rem;
   }

   &__logo {
      width: 8.4rem;
      height: 8.4rem;
      border-radius: 50%;
      background-color: $color-primary;
   }

   &__textbox {
      max-width: 80%;
      margin: 0 auto;
   }
}


.navigation {
   padding-top: 5rem;

   &__list {
      display: flex;
      justify-content: space-between;
      list-style: none;

      @include respond(phone) {
         display: block;
      }
   }

   & li {
      position: relative;
   }

   &__link {
      &:link,
      &:visited {
         font-weight: 700;
         color: $color-black;
      }

      &:hover {
         color: $color-primary;
         transition: all 0.2s ease;
      }
   }
}



.submenu__list,  .sub-submenu__list {
   position: absolute;
   min-width: 32rem;
   display: none;

   li {
      height: 6rem;
      display: flex;
      align-items: center;
      background-color: $color-white;
      position: relative;

      &:hover {
         background-color: $color-grey-links;
         transition: all 0.3s ease;
      }
   }
}

.submenu__list {
   left: -8rem;
   padding-top: 1.1rem;
   z-index: 1000;
   list-style: none;

   @include respond(phone) {
      position: relative;
      top: 0;
      left: 0;
   }

   li:hover {
      .submenu__link {
         color: $color-primary;
         transition: all 0.3s ease;
      }
   }

   // ARROWS
   &>li {
      &:after {
         display: none;
         content:"";
         width:0;
         height:0;
         border-top: 0.9rem solid transparent;
         border-bottom: 0.9rem solid transparent;
         border-left: 0.9rem solid $color-primary;
         right: 7%;
         position: absolute;
         opacity: 0;
      }
   
      &:hover {
         &:after {
            opacity: 1;
            transition: all 0.3s ease;
         }
      }
   }
}

.sub-submenu__list {
   top: 0;
   left: 100.5%; 

   @include respond(phone) {
      position: relative;
      top: 0;
      left: 0;
   }
   
   li:hover {
      .sub-submenu__link {
         color: $color-primary;
         transition: all 0.3s ease;
      }
   }
}

.submenu__link {
   color: $color-black;
   display: inline-block;
   font-weight: 700;
   padding-left: 2.5rem;
}
.sub-submenu__link {
   color: $color-black;
   display: inline-block;
   font-size: 1.6rem;
   padding-left: 2.5rem;
}



// FUNCTIONALITY
.navigation__arrow {
  right: -30%;

  @include respond(phone) {
     right: 50%;
  }
}

.submenu__arrow {
   right: 5%;
}

.arrow {
   display: none;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   width: 0;
   height: 0;
   border-top: 10px solid #000;
   border-right: 10px solid transparent;
   border-left: 10px solid transparent;


   &.active {
      transform: rotate(-180deg);
      transition: all 0.3s ease;
   }
}

// DESKTOP

body.mouse .navigation__list>li:hover .submenu__list {
   display: block;
}
body.mouse .submenu__list>li:hover .sub-submenu__list {
   display: block;
}

// MOBILE

body.touch .submenu__list.open {
   display: block;
}
body.touch .sub-submenu__list.open {
   display: block;
}
body.touch .arrow {
   display: block;
}


// CONTACTS

.contacts {
   max-width: 45%;
   margin-left: auto;

   @include respond (tab-port) {
      max-width: 100%;
   }

   &__list {
      display: flex;
      justify-content: space-between;
      list-style: none;
   }

   &__link {
      &:link,
      &:visited {
         font-size: 1.4rem;
         font-weight: 700;
         color: $color-black;
         opacity: 30%;
         padding-bottom: 1rem;
         border-bottom: 1.5px solid transparent;
      }

      &:hover {
         color: $color-primary;
         border-bottom: 1.5px solid $color-primary;
         opacity: 100%;
         padding-bottom: 1rem;
         transition: all 0.3s ease;
      }
   }
}