body {
   font-family: 'Roboto', sans-serif;
   font-size: 1.8rem;
   font-weight: 400;
   color: $color-black;
}

ul {
   list-style: none;
   display: flex;
   justify-content: space-between;
}

.link{
   &:link,
   &:visited  {
      display: inline-block;
      text-decoration: none;
   }
}

.heading-primary {
   padding: 14.4rem 0 7rem 0;
   text-align: center;
   color: $color-white;
}

.heading-secondary {
   color: $color-white;
   font-size: 3.2rem;

   &--black {
      color: $color-black;
   }
}

.heading-tertiary {
   &--main {
      font-size: 2.4rem;
      margin-top: 1.5rem;
   }

   &--sub {
      font-size: 1.8rem;
      color: $color-black;
      opacity: 0.5;
   }
}

.oferta-box {
   &:not(:last-child) {
   border-right: 1px solid $color-black;
   }

   &__text {
      position: relative;
      font-size: 1.4rem;
      color: $color-black;
      opacity: 0.5;
      padding: 2.3rem 0 6.6rem 0;
   }
}

.section-promocja {
   
   &__paragraph {
      color: $color-white;
      font-size: 2.4rem;
      font-weight: 700;
   }
}

.section-opinie {

   &__paragraph {
      font-style: italic;
      padding: 3rem 0 3.7rem 0;
   }
}


