main {
   z-index: 70;
}

.bg {
   background-color: rgba(91, 13, 19, 1);
   z-index: 4;
   position: relative;

   &:after {
      content: "";
      background: url(../img/bg-pattern.png);
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
      height: 40rem;
   }
}

.section-oferta {
   background-color: $color-white;;
   position: relative;
   @include clearfix;
}

.oferty {
   display: flex;
   justify-content: space-between;
}

.oferta-box {
   display: block;
   width: 25%;
   padding: 2rem;
}

.section-promocja {
   display: flex;
   justify-content: space-between;
   background-color: $color-primary;
   display: flex;
   align-items: center;
   padding: 3rem;
}

.section-opinie {
   background-color: $color-white;
   padding: 6.8rem 0;
   border-bottom: 1px solid #7a7a7a;
}

.opinia {
   width: 95%;
   margin: 0 auto;
   text-align: center;
   position: relative;

   &__arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 5rem;

      &--l {
         left: 0;
      }

      &--r {
         right: 0;
      }
   }
}

.owl-nav {
   width: 0;
   height: 0;
}